.menu-text{
    margin-right: 35px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 55px;
}

.header-text{
    color: #1affff!important;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Grand Hotel', cursive;
}